<%= form_for @product do |f| %>
  <% if @product.errors.any? %>
    <%= pluralize(@product.errors, "error") %>
    prohibited this form from being saved
    <ul>
      <% @product.errors.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :price %>
  $<%= f.text_field :price, value: (number_with_precision(f.object.price, :precision => 2) || 0) %>
  <%= f.label :quantity %>
  <%= f.number_field :quantity %>
  <%= f.label :category_id, "Category" %>
  <%= f.collection_select(:category_id, Category.all, :id, :title) %>
  <%= f.submit %>
<% end %>
